.content-con {
    margin-top: 50px;
    padding: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}
.rsa-text{
    background-color: #022446 !important;
    color: white;
}
.content-con .form-group button{
    background-color: orange !important;
    margin-top: 10px;
    color: white !important;
    font-weight: bold;
}
/* .gen-con{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.input-copy{
    background-color: #022446 !important;
    border: 1px white solid;
    border-radius: 10px;
    padding: 3px;
}
.input-copy i{
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 2px;
}
.input-copy i:hover{
    color: orange !important;
}
.input-copy .public-input{
    border: none;
    background-color: #022446 !important;
}
.generate-btn{
    background-color: orange !important;
    margin-top: 10px;
    color: white !important;
    font-weight: bold;
}
.container h1{
    color: orange !important;
}
.container label , p{
    color: white !important;
}
.container input , textarea{
    background-color: #022446 !important ;
    color: white !important;
}

@media (max-width: 750px) {
    .container{
        width: 100% !important;
    }
}