.container{
    /* background-color: rgb(204, 204, 204); */
}
.container .form-group button{
    background-color: orange !important;
    margin-top: 10px;
    color: white !important;
}
@media (max-width: 750px) {
    .container{
        width: 100% !important;
    }
}